name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev pkg-config
    - name: Build
      run: cargo build --verbose
    - name: Run Clippy
      run: cargo clippy -- -D warnings
    - name: Check formatting
      run: cargo fmt -- --check
    - name: Run tests
      run: export TZ='Europe/Paris' && cargo test --verbose
    - name: Check for flakes
      run: export TZ='Europe/Paris' && for i in {1..100} ; do cargo test --quiet || return $? ; done
